html{
  height: 100%;
}
body{
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  --sidebar-clr: rgb(23, 141, 231);
  --main-clr: rgb(200, 200, 200);
  --header-clr: white;
  font-family: 'robotoregular';
}

.header{
  background-color: var(--header-clr);
  grid-column: 2 / 3;
}
.sidebar{
  background-color: var(--sidebar-clr);
  grid-row: 1 / 3;
  font-weight: 600;
  padding: 12px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 50px;
}
.main{
  background-color: var(--main-clr);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.container{
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr  5fr;
}

.sidebar .text{
  color: white;
}

.nav-item, .branding-item, .top{
  display: grid;
  gap:10px;
  grid-template-columns: auto 1fr;
}

.sidebar .center .nav, .sidebar .bottom .branding{
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.sidebar .top{
  font-family: 'robotobold';
  font-weight: 900;
  align-items: center;
}

.sidebar .top .logo{
  scale: 1.5;
}
