html{
  height: 100%;
}
body{
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  --sidebar-clr: rgb(0, 125, 220);
  --main-clr: rgb(220, 220, 220);
  --header-clr: white;
  font-family: 'robotoregular';
}

.header{
  background-color: var(--header-clr);
  grid-column: 2 / 3;
  padding: 16px 42px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}
.sidebar{
  background-color: var(--sidebar-clr);
  grid-row: 1 / 3;
  font-weight: 600;
  padding: 12px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 50px;
}
.main-cont{
  background-color: var(--main-clr);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template: auto 1fr / 1fr 300px;
  padding : 20px;
  height: max-content;
}

.container{
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebar .text{
  color: white;
}

.nav-item, .branding-item, .top{
  display: grid;
  gap:10px;
  grid-template-columns: auto 1fr;
}

.sidebar .center .nav, .sidebar .bottom .branding{
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.sidebar .top{
  font-family: 'robotobold';
  font-weight: 900;
  align-items: center;
}

.sidebar .top .logo{
  scale: 1.5;
}

.header *{
  font-family: 'robotobold';
  display: flex;
  gap: 20px;
  align-items: center;  
}
.header .top .searchbox{
  padding:2px;
  flex: 0.8;
  margin-right: auto;
  border-radius: 25px;
  border: 0;
  background-color: var(--main-clr);
}
.header .top img{
  height: 24px;
  width: 24px;
}
.header .top .dp{
  height: 28px;
  width: 28px;
}

.header .about{
  display: grid;
  gap: 0;
  margin-right: auto;
}

.header .about .greeting{
  font-size: 0.8em;
}

.header button{
  color: white;
  border: 0;
  padding: 5px 20px;
  background-color: var(--sidebar-clr);
  border-radius: 20px;
}

.project img{
  width: 16px;
  height: 16px;
  justify-self: end;
}

.project{
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 5px;
  border-left: 6px solid rgb(255, 196, 0);
  font-family: 'robotolight';
  word-spacing: 0.3em;
}

.project .foot{
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.heading{
  margin-left: 5px;
  margin-bottom: 12px;
  font-family: 'robotobold';
}

.projects{
  display: grid;
  grid-template-rows: max-content auto;
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  margin-right: 16px;
}

.projects .content{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
  grid-auto-rows: max-content;
  gap: 18px;
}

.information{
  grid-area: 1 / 2 / 2 / 3;
  margin-bottom: 16px;
}

.resources{
  grid-column: 2;
  grid-row: 2;
  display: grid;
}

.title{
  font-family: 'robotobold';
  margin-bottom: 10px;
}
.information .content{
  background-color: white;
  display: grid;
  gap: 16px;
  border-radius: 10px;
  padding: 20px;
  font-family: 'robotolight';
  word-spacing: 0.3em;
}
.information .info::after{
  content: '';
  display: block;
  border-bottom: 1px solid #ccc;
  padding-top: 0.5em;
}
img[alt='odin logo']{
  background-color: rgb(154, 154, 154);
}
.resources img{
  width: 40px;
  height: 40px;
  border-radius: 360px;
}
.resources .content{
  border-radius: 10px;
  padding: 16px;
  background-color: white;
  display: grid;
  gap: 20px;
}
.resources .list{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}
.resources .link{
  color: black;
  font-family: 'robotobold';
  text-decoration: none;
}
.resources .info{
  font-family: 'robotolight';
}