html{
  height: 100%;
}
body{
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  --sidebar-clr: rgb(23, 141, 231);
  --main-clr: rgb(210, 210, 210);
  --header-clr: white;
  font-family: 'robotoregular';
}

.header{
  background-color: var(--header-clr);
  grid-column: 2 / 3;
  padding: 16px 42px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}
.sidebar{
  background-color: var(--sidebar-clr);
  grid-row: 1 / 3;
  font-weight: 600;
  padding: 12px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 50px;
}
.main{
  background-color: var(--main-clr);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.container{
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr  5fr;
}

.sidebar .text{
  color: white;
}

.nav-item, .branding-item, .top{
  display: grid;
  gap:10px;
  grid-template-columns: auto 1fr;
}

.sidebar .center .nav, .sidebar .bottom .branding{
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.sidebar .top{
  font-family: 'robotobold';
  font-weight: 900;
  align-items: center;
}

.sidebar .top .logo{
  scale: 1.5;
}

.header *{
  font-family: 'robotobold';
  display: flex;
  gap: 20px;
  align-items: center;  
}
.header .top .searchbox{
  padding:2px;
  flex: 0.8;
  margin-right: auto;
  border-radius: 25px;
  border: 0;
  background-color: var(--main-clr);
}
.header .top img{
  height: 24px;
  width: 24px;
}
.header .top .dp{
  height: 28px;
  width: 28px;
}

.header .about{
  display: grid;
  gap: 0;
  margin-right: auto;
}

.header .about .greeting{
  font-size: 0.8em;
}

.header button{
  color: white;
  border: 0;
  padding: 5px 20px;
  background-color: var(--sidebar-clr);
  border-radius: 20px;
}